body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #f4f4f4;
}

.card{
    box-shadow: 4px 4px 4px gray;
}

#thead{
    background-color: rgb(173, 24, 24);
}